<ion-view title="QwikEyes" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button id="qwikEyes-button4" class="button button-positive button-large button-block icon-right ion-ios-videocam">Start Video Service</button>
        <div class="spacer" style="width: 283px; height: 53px;"></div>
        <button id="qwikEyes-button5" class="button button-positive button-large button-block icon-right ion-camera">Capture Image</button>
        <div class="spacer" style="width: 283px; height: 49px;"></div>
        <a ui-sref="settings" id="qwikEyes-button6" class="button button-positive button-large button-block icon-right ion-ios-settings-strong">Settings</a>
        <a ui-sref="qwikEyes" id="login-button1" class="button button-stable  button-block">Log in</a>
    </ion-content>
</ion-view>