<ion-view title="Settings" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Security</div>
            <div class="item item-body">
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive">Touch ID</ion-toggle>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Account</div>
            <div class="item item-body">
                <ion-list></ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">About Us</div>
            <div class="item item-body">
                <div id="settings-markdown1" style="color:#000000;">
                    <p>QwikEyes</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>